<div ng-switch on="currentState">
    <div ng-switch-when="sample.listar">
        <div ng-include="'resource/{{ bundle_name }}?file=templates/sample/sample-list.html'"></div>
    </div>
    <div ng-switch-when="sample.detalhe">
        <div ng-include="'resource/{{ bundle_name }}?file=templates/sample/sample-detail.html'"></div>
    </div>
    <div ng-switch-when="sample.criar">
        <div ng-include="'resource/{{ bundle_name }}?file=templates/sample/sample-form.html'"></div>
    </div>
    <div ng-switch-when="sample.editar">
        <div ng-include="'resource/{{ bundle_name }}?file=templates/sample/sample-form.html'"></div>
    </div>
    <div ng-switch-default>
        <div ng-include="'resource/{{ bundle_name }}?file=templates/sample/sample-list.html'"></div>
    </div>
</div>